<header class='top-page-header'>
  <div class='title'>
    <h1>Study Syncron</h1>
  </div>
  <div class='nav'>
    <ul>
      <li>新規登録</li>
      <li>ログイン</li>
      <li>ユーザー名</li>
      <li>ログアウト</li>
      <li>カレンダー</li>
      <li>投稿</li>
    </ul>
  </div>
</header>