        <div class="content">
          <% posts.each do |post| %>
            <%= link_to post_path(post.id) do%>
            <div class="post">
              <div class="post-header">
                <div class="post-user"><%= post.user.nickname %></div>
                <div class="post-date"><%= post.created_at %></div>
              </div>
              <div class="post-body">
                <p><%= post.title %></p>
              </div>
              <div class="post-footer">
                <div class="post-tag">
                  <div>#TEST投稿</div>
                </div>
                <div class="post-nav">
                  <ul>
                    <li>フォロー</li>
                    <li>お気に入り</li>
                  </ul>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>