    <div class="sidebar">
      <div class="sidebar-header">
        <h1>ロゴ</h1>
      </div>
      <ul class="sidebar-menu">
        <li>ホーム</li>
        <li>プロフィール</li>
        <li>メッセージ</li>
        <li>設定</li>
        <li>ログアウト</li>
      </ul>
    </div>