<div class="sidebar">
  <div class="sidebar-header">
    <h1>フォロー中のユーザー</h1>
    <ul class="sidebar-menu">
      <li>駆け出しエンジニア</li>
      <li>中堅エンジニア</li>
      <li>ベテランエンジニア</li>
    </ul>
  </div>
  
  <div class="sidebar-header">
    <h1>お気に入りの投稿</h1>
    <ul class="sidebar-menu">
      <li>Rubyとは</li>
      <li>HTTPメソッドについて</li>
      <li>MVCモデルとは</li>
    </ul>
  </div>
</div>