<%= render "shared/header" %>

<div class='main'>
  <div class="container">
    <%= render 'shared/sidebar' %>

    <div class="main-content">
      <div class="content-box">
        <div class="header">
          <div class="header-title">
            投稿一覧
          </div>
          <div class="search-bar">
            <input type="text" placeholder="検索...">
          </div>
        </div>

        <%= render 'shared/post_index', posts: @posts %>

      </div>
    </div>
  </div>
</div>