<%= render "shared/header" %>

<div class='main'>
  <div class="container">
    <%= render 'shared/sidebar' %>

    <div class="main-content">
      <div class="content-box">
        <div class="header">
          <div class="search-bar">
            <input type="text" placeholder="Тцюу┤б...">
          </div>
          <div class="user-info">
            <div class="user-icon">­ЪЉц</div>
            <div class="user-name">user</div>
            <div class="notifications">­Ъћћ</div>
            <div class="settings">РџЎ№ИЈ</div>
          </div>
        </div>
        <div class="content">
          <div class="post">
            <div class="post-header">
              <div class="post-user">сЃдсЃ╝сѓХсЃ╝тљЇ</div>
              <div class="post-date">2024-06-20</div>
            </div>
            <div class="post-body">
              <p>ТіЋуе┐тєЁт«╣1</p>
            </div>
            <div class="post-footer">
              <div class="post-tag">
                <div>#TESTТіЋуе┐</div>
              </div>
              <div class="post-nav">
                <ul>
                  <li>сЃЋсѓЕсЃГсЃ╝</li>
                  <li>сЂіТ░ЌсЂФтЁЦсѓі</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="post-header">
              <div class="post-user">сЃдсЃ╝сѓХсЃ╝тљЇ</div>
              <div class="post-date">2024-06-19</div>
            </div>
            <div class="post-body">
              <p>ТіЋуе┐тєЁт«╣2</p>
            </div>
          </div>
          <div class="post">
            <div class="post-header">
              <div class="post-user">сЃдсЃ╝сѓХсЃ╝тљЇ</div>
              <div class="post-date">2024-06-18</div>
            </div>
            <div class="post-body">
              <p>ТіЋуе┐тєЁт«╣3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>