body {
  background-color: #e0f2f5;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: black;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 0;
}

.container {
  display: flex;
  width: 90%;
}

.main-content {
  width: 70%;
}

.content-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info > div {
  margin-left: 10px;
}

.content {
  flex-grow: 1;
}

.post {
  background-color: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-user {
  font-weight: bold;
}

.post-date {
  color: #777;
}

.post-body p {
  margin: 0;
}